//Color variables
$color-main: rgb(65 145 235);
$color-secondary: rgb(225, 242, 255);
$color-tertiary: rgb(195, 240, 255);
$color-black-light:  rgb(40, 40, 40);
$color-white: rgb(240, 240, 240);

$color-faliure: rgb(246, 152, 160);
$color-success: rgb(143, 246, 167);

//Utilities
$margin-bottom-small: 1rem;
$margin-bottom-large: 2.25rem;