.quiz {
    width: 60rem;
    padding: 2rem;
    text-align: center;
    border: 3px solid rgba($color-main, 0.4);
    background-color: $color-white;
    color: $color-black-light;
    border-radius: 1rem;
    @include box-shadow;


    &__heading {
        margin-bottom: $margin-bottom-large;

        h1 {
            font-size: 4rem;
            letter-spacing: 1.4px;
            margin-bottom: $margin-bottom-large;
        }
        p { 
            font-size: 2.6rem;
            letter-spacing: 1px;
            color: $color-main;
            font-weight: 600;
        }
    }

    &__question-info {
        margin-bottom: $margin-bottom-large;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media screen and (max-width: 420px) {
            display: block;
        }
    }

    
    &__current-question, &__current-score {
        & > * {
            font-size: 2rem;
        }
        
        & span:nth-child(1) {
            margin-bottom: 1rem;
            display: block;
        }   
    
        & span:nth-child(2) {
            display: inline-block;
            background-color: $color-main;
            padding: 1.5rem;
            color: $color-secondary;
            border-radius: 10rem;
            @include box-shadow;
        }
    }

    &__current-question{
        @media screen and (max-width: 420px) {
            margin-bottom: 1rem;
        }
    }

    &__question {
        margin: 0 1.2rem;
        margin-bottom: $margin-bottom-large;
        font-size: 2rem;
        text-align: left;
    }

    &__answers {
        margin-bottom: $margin-bottom-large;
    }

    &__wl-message-container {
        height: 40px;
        margin-bottom: $margin-bottom-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wl-message {
        height: 0;
        width: 80%;
        text-align: center;
        border-radius: 5rem;
        font-size: 2.5rem;
        color: $color-white;
        overflow: hidden;
        transform-origin: center;
        transition: height 0.35s;

        &.success, &.faliure {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.success {
            color: $color-black-light;
            background-color: $color-success;
        }

        &.faliure {
            background-color: $color-faliure;
        }
    }
    
}